// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 50px;
}

p, div.price-line {
  form, div {
    display: inline;
  }
}

.price {
  font-size: 1.2em;
  font-weight: bold;
  padding-right: 1em;
}
